	.categorias{
		margin-left: 10px;
		margin-top: 10px;
	}
	.btns {
	height: 40px;
	}
	.btns div {
	margin-left: 5px;
	float: left;
	background-color: powderBlue;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	cursor: hand;
	font-size: 16px;
	font-family: Arial bold;
		
	}
	
	td.notas{
	width: 170px;
	padding: 20px;

	}

	.tablacat{
		/*padding:20px;*/
		margin:0;
		margin-left: 35px;
		text-align: left;
		vertical-align: top;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight:bold;
		color:#333333;
		width: 450px;
	}
	 
	img {
		display: block;
		vertical-align: middle;
		}
		 
	img.fotonota {
		float: right;
		display: block;
		vertical-align: middle;
		}	
	img.fotochica {
		height:40px;
		width:40px;
		}		
	.texto{
		float: left;
		padding:10px;
		vertical-align: top;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 14px;
		font-weight:bold;
		color:#333333;
		
	}	
	.mensaje{
		float: center;
		width: 580px;
		height: 30px;
		color:#666666;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 12px;
	}
	
div.fotonota{
height:40px;min-width:180px;
}

input[type="submit"]{
border:0px;
width:22px;
height:22px;
cursor:pointer;
cursor:hand;
}

.titulo{
	margin-left:40px;
	font-family:Arial,sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#333333;
	text-align:left;
}